:host{
  display: block;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0,2);
  padding: 1em;
  min-width: 300px;
  margin-bottom: 3em;
}

:host-context(.light) h1{
background-color: #eee;
color: black;
}

.highlight{
  background-color: rgb(200,50,50);
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 12px;
  margin-bottom: 1em;
  display: inline-block;

}

button{
  border:0;
  outline: 0;
  padding: 1em;
  font-size: 1em;
}

.active{
background-color: rgb(10,10,100);
color: white;
}

.shadow{
  box-shadow: 0px 4px 4px rgba(0,0,0,0,2);
}

button:not(.active){
  opacity: 0.56;
}
